
body {
    margin: 0;
    font-family: Calibri;
}

p {
    font-family: Calibri;
    font-weight: 400;
}

span {
    font-family: Calibri;
}

a {
    font-family: Calibri;
}

@media (max-width: 324px) {
    h1 {
        font-size: 1.8rem;
    }
}

@media (min-width: 325px) {
    h1 {
        font-size: 2rem;
    }
}

h2 {
    font-size: 24px;
}

section {

}


/*
.sticky {
    position: fixed;
    z-index: 9999;
    width: 100%;
}
 */
/* none */
@media (min-width: 326px) {
    .none_max326px {
        display: none;
    }
}

/* ul */
.list-style-none {
    list-style: none;
}

/* color */
.black {
    color: black;
}

.white {
    color: white;
}

.darkorange {
    color: darkorange;
}

.color777 {
    color: #777;
}

/* bg color */
.bg-darkorange {
    background-color: darkorange;
}

.bgHellGrey {
    background-color: #e3e3e3;
}

.bg_florawhite {
    background-color: floralwhite;
}

.bg-transperent-black-06 {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 20px;

}

/* hover color */
.hover-white:hover {
    color: white;
}

.hover-black:hover {
    color: black;
}

.hover-darkorange:hover {
    color: darkorange;
}

/* border */
.borderOrange {
    border-width: 1px;
    border-style: solid;
    border-color: orange;
}

.bo50px {
    border-radius: 50px;
}

/* overflow */
.responsiveX {
    overflow-x: hidden;
}

.header_button {
    background: transparent;
    border: none !important;
}

/* headline */

.page-header {
    padding-bottom: 9px;
    margin: 15px 0 20px;
    border-bottom: 1px solid #ff8c00
}

/* btn */
.btn-warning {
    background-color: orange;
    border-radius: 5px;
}

.btn-warning a {
    text-decoration: none;
}

/* font size */
.rem2 {
    font-size: 2rem;
}

.fontS14px {
    font-size: 14px;
}

.fontS20px {
    font-size: 20px;
}

@media (max-width: 900px) {
    .f900rem18 {
        font-size: 1.8rem;
    }
}

/* bootstrap */
.card {
    border-radius: 20px;
}

.fixed-bottom {
    width: 30px;
    height: 30px;
    border: solid 0px black;
    border-radius: 50%;
    margin-left: 84%;
    margin-bottom: 10px;
    background-color: rgba(0, 0, 0, 0.5);
}

@media (min-width: 500px) and (max-width: 767px) {
    .fixed-bottom {
        margin-left: 90%;
        margin-bottom: 10px;
    }
}

@media (min-width: 768px)  {
    .fixed-bottom {
        margin-left: 93%;
        margin-bottom: 18px;
    }
}



/* slogan max 400px */
@media (max-width: 400px) {

    #slogan b {
        font-weight: 600;
        font-size: 0.6em;
    }

    #slogan h2 {
        line-height: 0.9;
    }
}

.center {
    text-align: center;
}

​
