#headerhome {
    margin-left: 15px;
}

.ml-1em_min360 {
    margin-left: 15px;
}

li {
    list-style: none;
}

#stellenangebote h2 {
    font-size: 3em;
}

#picLogoFormular {
    width: 50%;
}



.img45px {
    width: 45px;
}