#bewUnt ul, #bewUnt h3 {
    padding-inline-start: 0px;
}

.argumente {
    list-style: none;
}

.img-fluid97 {
    max-width: 97%;
    height:auto
}

@media (max-width: 400px) {
    .bewUntHeadline {
        margin-top: 0.4em;
        font-size: 1.4rem;
    }
}