
.ml-1em_min360 {
    margin-left: 15px;
}

#headerhome {
    margin-left: 15px;
}

/* Bilder Gemeinsame Weiterentwicklung */

/* Handy */

@media (max-width: 450px) {
    #imgBewerberHandy {
        width: 100%;
        padding-bottom: 1em;
    }
}

@media (min-width: 451px) {
    #imgBewerberHandy {
        display: none;
    }
}

/* Tablet */

@media (max-width: 450px) {
    #imgBewerberTablet {
        display: none;
    }
}

@media (min-width: 451px) and (max-width: 768px) {
    #imgBewerberTablet {
        width: 15em;
        float: right;
        padding-bottom: 2em;
    }
}

@media (min-width: 768px) {
    #imgBewerberTablet {
        display: none;
    }
}

/* Destop */

@media (max-width: 767px) {
    #imgBewerberDestop {
        display: none;
    }
}

@media (min-width: 768px) {
    #imgBewerberDestop {
        width: 23em;
        float: right;
        padding-left: 1em;
        padding-bottom: 1em;
    }
}

@media (min-width: 992px) {
    #imgBewerberDestop {
        width: 24em;
        margin-right: 1em;
    }
}

/* Unsere Kompetenzen sind */

/* Handy */

@media (max-width: 450px) {
    #imgBewerberHandy1 {
        width: 100%;
        padding-bottom: 1em;
    }
}

@media (min-width: 451px) {
    #imgBewerberHandy1 {
        display: none;
    }
}

/* Destop */

@media (max-width: 1000px) {
    #imgBewerberDestop1 {
        display: none;
    }
}

@media (min-width: 1000px) {
    #imgBewerberDestop1 {
        width: 23em;
        float: left;
        margin-right: 1em;
        margin-bottom: 1em;
        margin-top: 17px;
    }
}

/* bew slogan*/
#bewSlogan {

}